<!-- 
mini_fb/templates/mini_fb/base.html 
-->

{% load static %}

<html>
    <head>
        <tittle> Mini Facebook | CS412 </tittle>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>

        <header>
            <h1>Mini Facebook</h1>
        </header>

        <nav>
            <ul>
                <li><a href="{% url 'mini_fb:show_all_profiles_view' %}"> All Profiles</a></li>
                <li><a href="{% url 'mini_fb:create_profile' %}"> Create a Profile</a></li>
            </ul>
        </nav>


        {% block content %}

        {% endblock %}

        <footer>
            <p>Mini Facebook &copy; 2024</p>
        </footer>

    </body>
</html>